<template lang="html">
  <UiBox class="c-location-box">
    <div class="c-location-box__header">
      <svg
        viewBox="-25 -25 50 50"
        width="100px"
        height="100px"
      >
        <MapPlanet
          v-if="location.type === 'planet'"
          :location="location"
        />
        <MapStation
          v-if="location.type === 'station'"
          :location="location"
        />
      </svg>
      <h1 class="c-location-box__title">
        {{ location.name }}
      </h1>
    </div>

    <p class="c-location-box__blurb">
      {{ description }}
    </p>

    <slot />
  </UiBox>
</template>

<script>
import MapPlanet from '../map/MapPlanet.vue';
import MapStation from '../map/MapStation.vue';
import UiBox from '../UiBox.vue';

export default {
  components: {
    MapPlanet,
    MapStation,
    UiBox,
  },
  props: {
    location: {
      type: Object,
      required: true,
    },
  },
  computed: {
    isStrict() {
      return this.location.population > 100000;
    },
    description() {
      const { location } = this;
      const adjectives = [];
      const postfixes = [];

      if (location.size > 3) adjectives.push('large');

      if (!location.allegiance) {
        adjectives.push('independent');
      }

      if (location.climate) {
        adjectives.push(location.climate.name);
      }

      if (location.allegiance) {
        postfixes.push(`controlled by the ${location.allegiance.name}`);
      }

      const sentence = [
        ...adjectives,
        location.type,
        ...postfixes,
      ].join(' ');

      return `${['a', 'e', 'i', 'o', 'u'].includes(sentence.substr(0, 1).toLowerCase()) ? 'An' : 'A'} ${sentence.toLowerCase()}.`;
    },
  },
};
</script>

<style lang="css">
.c-location-box {
  width: auto;
}

.c-location-box__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c-location-box__title {
  flex-grow: 1;
}

.c-location-box__blurb {
  margin: 1rem;
}
</style>
