<template lang="html">
  <div class="container">
    <svg
      class="image"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1543 677"
    >
      <!-- eslint-disable max-len -->
      <path
        d="M1520 467H18s42 80 67 105c23 24 126 90 126 90h1237l28-63s32-47 37-62c6-18 7-70 7-70zM431 452h527l90-100H548zM1001 452l100-100h217v-50h80v50h78s19 38 23 52c3 11 4 48 4 48h-502z"
      />
      <path
        d="M1153 342h140V13h-26l-44 237z"
      />
      <!-- eslint-enable max-len -->
    </svg>
    <div class="grid">
      <template
        v-for="({available, room, icon, x, y}, index) in grid"
      >
        <div
          v-if="available && room"
          :key="index"
          class="square square--active"
          :draggable="room"
          :style="{
            gridColumn: room.w > 1 ? `span ${room.w}` : '',
            gridRow: room.h > 1 ? `span ${room.h}` : '',
          }"
          @dragstart="$event.dataTransfer.setData('text/plain', room.id)"
          @dragover="$event.preventDefault()"
          @drop="moveRoom($event, x, y)"
        >
          {{ room.icon }}
        </div>
        <div
          v-else-if="available"
          :key="index"
          class="square square--empty"
          @dragover="$event.preventDefault()"
          @drop="moveRoom($event, x, y)"
        />
        <div
          v-else
          :key="index"
        />
      </template>
    </div>
  </div>
</template>

<script>
import { roomTypes } from '../../lib/data';

export default {
  props: {
    shape: {
      type: String,
      required: true,
    },
    rooms: {
      type: Array,
      required: true,
    },
  },
  computed: {
    grid() {
      const width = this.shape.indexOf('|');

      return this.shape.replace(/\|/g, '').split('').map((cell, index) => {
        const x = index % width;
        const y = Math.floor(index / width);

        const room = this.rooms.find(r => (r.x === x && r.y === y));

        // If it's the crux of a room, we're done
        if (room) {
          const { icon } = roomTypes.find(type => type.code === room.code);

          return {
            x,
            y,
            available: cell === '1',
            room: {
              ...room,
              icon,
            },
          };
        }

        // If it's overlapped by a room, leave a gap
        const roomCovering = this.rooms.find(r => (
          x >= r.x && x < (r.x + (r.w || 1)) && y >= r.y && y < (r.y + (r.h || 1))
        ));
        if (roomCovering) {
          return null;
        }

        // Otherwise, it's just an empty cell
        return {
          x,
          y,
          available: cell === '1',
        };
      }).filter(x => x !== null);
    },
  },
  methods: {
    moveRoom(event, x, y) {
      // Stop navigation
      event.preventDefault();

      // Identify the room being moved
      const id = event.dataTransfer.getData('text/plain');

      // Move the room
      this.$store.dispatch('ship/layout/moveRoom', { id, x, y }).catch((e) => {
        // eslint-disable-next-line no-alert
        alert(e.toString());
      });
    },
  },
};
</script>

<style lang="css" scoped>
.container {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 1rem 0;
}

.image, .grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image {
  opacity: 0.2;
  fill: #FFF;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square--empty {
  margin: 3px;
  border: 1px solid #FFF;
  background-color: hsla(0, 0%, 100%, 0.5);
}

.square--active {
  margin: 0;
  border-color: #777;
  background-color: hsla(0, 0%, 50%, 0.6);
}
</style>
