<template lang="html">
  <dl class="c-stats_list">
    <template v-for="(value, label) in stats">
      <dt :key="`${label}-label`">
        {{ label }}
      </dt>
      <dd :key="`${label}-value`">
        {{ value }}
      </dd>
    </template>
  </dl>
</template>

<script>
export default {
  props: {
    stats: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="css">
.c-stats_list {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 3fr;
}

.c-stats_list > dt {
  font-weight: bold;
  white-space: nowrap;
}
</style>
