<template lang="html">
  <button
    :class="{'c-button': true, 'c-button--disabled': disabled}"
    :disabled="disabled"
    v-on="$listeners"
  >
    <slot />
  </button>
</template>

<script>
export default {
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="css">
.c-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-success);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  transition: filter .2s ease-out;
}

.c-button--disabled {
  filter: grayscale(1);
  cursor: not-allowed;
}
</style>
