<template lang="html">
  <g
    :class="{'c-map-location': true}"
    @mouseenter="toggleHover(true)"
    @mouseleave="toggleHover(false)"
    @click="$emit('select', location.id)"
  >
    <!-- Drawing -->
    <MapPlanet
      v-if="location.type === 'planet'"
      :location="location"
    />
    <MapStation
      v-if="location.type === 'station'"
      :location="location"
      :transform="`rotate(${rotation})`"
    />

    <!-- Hover effects -->
    <g :style="{display: isHovered || isCurrent ? '' : 'none'}">
      <circle
        :r="radius + 4"
        fill="transparent"
        stroke="#FFF"
        :stroke-width="isCurrent ? 3 : 1"
        stroke-dasharray="5 3"
        :class="{'c-map-location-highlight--active': isCurrent}"
      />
      <text
        text-anchor="middle"
        :y="-1 * radius"
        dy="-0.5em"
        fill="#FFF"
        :style="{
          textShadow: '-1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black'
        }"
      >
        {{ location.name }}
      </text>
    </g>
  </g>
</template>

<script>
import MapPlanet from './MapPlanet.vue';
import MapStation from './MapStation.vue';

export default {
  components: {
    MapPlanet,
    MapStation,
  },
  props: {
    location: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    isHovered: false,
  }),
  computed: {
    isCurrent() {
      return this.$store.getters['log/current'].id === this.location.id;
    },
    radius() {
      return this.location.size * 5;
    },
    rotation() {
      // Rotate the station somewhere between -40 and +40 degrees. This isn't
      // recalculated on render, so will be consistent for the component's
      // lifecycle
      return Math.floor(Math.random() * 80) - 40;
    },
  },
  methods: {
    toggleHover(val) {
      this.isHovered = val;
    },
  },
};
</script>

<style>
.c-map-location {
  cursor: pointer;
}

.c-map-location-highlight--active {
  animation: c-map-location__pulse 15s linear infinite;
}

@keyframes c-map-location__pulse {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
</style>
