<template lang="html">
  <!-- eslint-disable vue/max-attributes-per-line -->
  <g>
    <g class="panels">
      <rect x="0" y="0" width="150" height="30" />
      <rect x="0" y="40" width="150" height="30" />
      <rect x="0" y="80" width="150" height="30" />
      <rect x="0" y="0" width="2" height="80" />
      <rect x="148" y="0" width="2" height="80" />
      <rect x="250" y="0" width="150" height="30" />
      <rect x="250" y="40" width="150" height="30" />
      <rect x="250" y="80" width="150" height="30" />
      <rect x="250" y="0" width="2" height="80" />
      <rect x="398" y="0" width="2" height="80" />

      <rect x="0" y="290" width="150" height="30" />
      <rect x="0" y="330" width="150" height="30" />
      <rect x="0" y="370" width="150" height="30" />
      <rect x="0" y="290" width="2" height="80" />
      <rect x="148" y="290" width="2" height="80" />
      <rect x="250" y="290" width="150" height="30" />
      <rect x="250" y="330" width="150" height="30" />
      <rect x="250" y="370" width="150" height="30" />
      <rect x="250" y="290" width="2" height="80" />
      <rect x="398" y="290" width="2" height="80" />
    </g>

    <g>
      <rect x="150" y="100" width="100" height="200" rx="50" ry="50" class="hub" />
      <rect x="150" y="200" width="100" height="100" rx="50" ry="50" class="hub-shadow" />
      <rect x="150" y="200" width="100" height="50" class="hub-shadow" />
      <circle cx="200" cy="150" r="30" class="window" />
    </g>

    <g class="joiners">
      <line x1="150" y1="50" x2="250" y2="50" />
      <line x1="200" y1="50" x2="200" y2="100" />
      <line x1="150" y1="350" x2="250" y2="350" />
      <line x1="200" y1="300" x2="200" y2="350" />
    </g>
  </g>
</template>

<script>
export default {};
</script>

<style lang="css" scoped>
.panels {
  fill: #804e8d;
}

.hub {
  fill: darkgray;
}

.hub-shadow {
  fill: gray;
}

.window {
  fill: #ffffa1;
}

.joiners {
  stroke: grey;
  stroke-width: 5;
}
</style>
